.head-div{
    font-size: 40px;
}

.pos-relative{
    width: 80%;
    height: 30vh;
    background-color: aquamarine;
    position: fixed;
    /* top: -10vh; */
    left: 10%;
    right: 10%;
    bottom:0;
}

.pos-absolute{
    width: 50%;
    height: 50%;
    background-color: brown;
    position: absolute;
}

.pos-absolute:nth-child(2){
    left: 50%;
}

.pos-absolute:nth-child(3){
    top: 50%;
}

.pos-absolute:nth-child(4){
    left: 50%;
    top: 50%;
}